server {
    listen ${NGINX_PORT};

    location /auth-service/ {
      proxy_pass http://auth-service:3000/;
    }

    location /app-service/ {
      proxy_pass http://app-service:8000/;
    }

    # Serve static files for app-service
    location /app-service/assets/ {
      proxy_pass http://app-service:8000/assets/;
    }

    # Serve static files for auth-service
    location /auth-service/assets/ {
      proxy_pass http://auth-service:3000/assets/;
    }
}