# Node
node_modules/

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
.env

# OS
.DS_Store

# AWS CDK
cdk/node_modules
cdk/**/*.js
!cdk/esbuild.config.js
!cdk/jest.config.js
cdk/**/*.d.ts
cdk/.cdk.staging
cdk/cdk.out